# Python cache
__pycache__/
*.pyc

# Backups temporales
*.bak
*.bak_*
*.malo_*
backups_bot/
backups_solo_3/
*.tar.gz

# Configs sensibles
/etc/darkzsaid/bot/bot.conf
bot.conf
*.conf.secret

# Logs
*.log

# Runtime data sensible
data/admins.db
data/usuarios.db
